<a href="https://colab.research.google.com/github/Rose-Kimu/Machine-Learning-Classwork/blob/main/KNN_class_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
array = [[80,951,75,171],
         [81,1100,68,175],
         [70,1240,76,168],
         [69,1400,72,170],
         [70,1000,80,160],
         [65,1800,72,150],
         [80,1220,68,140],
         [62,1121,71,139]]

jacinta = [70,820,65,149]

for i in array:
  for j in i:
    print( j)

80
951
75
171
81
1100
68
175
70
1240
76
168
69
1400
72
170
70
1000
80
160
65
1800
72
150
80
1220
68
140
62
1121
71
139

In [ ]:
array = [[80,951,75,171],
         [81,1100,68,175],
         [70,1240,76,168],
         [69,1400,72,170],
         [70,1000,80,160],
         [65,1800,72,150],
         [80,1220,68,140],
         [62,1121,71,139],
         [70,820,65,149]]

jacinta = [70,820,65,149]

for index1, value1 in enumerate(array):
  for index2, value2  in enumerate(value1):
    print( "[" ,index1,"]" ,"[",index2, "]", value2)

[ 0 ] [ 0 ] 80
[ 0 ] [ 1 ] 951
[ 0 ] [ 2 ] 75
[ 0 ] [ 3 ] 171
[ 1 ] [ 0 ] 81
[ 1 ] [ 1 ] 1100
[ 1 ] [ 2 ] 68
[ 1 ] [ 3 ] 175
[ 2 ] [ 0 ] 70
[ 2 ] [ 1 ] 1240
[ 2 ] [ 2 ] 76
[ 2 ] [ 3 ] 168
[ 3 ] [ 0 ] 69
[ 3 ] [ 1 ] 1400
[ 3 ] [ 2 ] 72
[ 3 ] [ 3 ] 170
[ 4 ] [ 0 ] 70
[ 4 ] [ 1 ] 1000
[ 4 ] [ 2 ] 80
[ 4 ] [ 3 ] 160
[ 5 ] [ 0 ] 65
[ 5 ] [ 1 ] 1800
[ 5 ] [ 2 ] 72
[ 5 ] [ 3 ] 150
[ 6 ] [ 0 ] 80
[ 6 ] [ 1 ] 1220
[ 6 ] [ 2 ] 68
[ 6 ] [ 3 ] 140
[ 7 ] [ 0 ] 62
[ 7 ] [ 1 ] 1121
[ 7 ] [ 2 ] 71
[ 7 ] [ 3 ] 139
[ 8 ] [ 0 ] 70
[ 8 ] [ 1 ] 820
[ 8 ] [ 2 ] 65
[ 8 ] [ 3 ] 149

In [ ]:
array = [[80,951,75,171],
         [81,1100,68,175],
         [70,1240,76,168],
         [69,1400,72,170],
         [70,1000,80,160],
         [65,1800,72,150],
         [80,1220,68,140],
         [62,1121,71,139],
         [70,820,65,149]]

# Get the last row from the array
last_row = array[-1]

# Initialize variables to track the minimum difference and its location
min_diff = float('inf')  # Initialize with positive infinity
min_location = None

# Iterate through all other rows
for row_index, row in enumerate(array[:-1]):

    # Iterate through the elements in the row and calculate the absolute difference
    diff = sum(abs(x - y) for x, y in zip(row, last_row))

    # Check if this difference is smaller than the current minimum
    if diff < min_diff:
        min_diff = diff
        min_location = row_index

# Print the location of the row with the minimum difference
print(f"Minimum difference found at row {min_location} with values {array[min_location]}")

Minimum difference found at row 0 with values [80, 951, 75, 171]

In [ ]:
array = [[80,951,75,171],
         [81,1100,68,175],
         [70,1240,76,168],
         [69,1400,72,170],
         [70,1000,80,160],
         [65,1800,72,150],
         [80,1220,68,140],
         [62,1121,71,139],
         [70,820,65,149]]

# Get the last row from the array
last_row = array[-1]

# Initialize variables to track the minimum difference and its location
min_diff = float('inf')  # Initialize with positive infinity
min_location = None

# Iterate through all other rows
for row_index, row in enumerate(array[:-1]):

    # Iterate through the elements in the row and calculate the absolute difference
    diff = sum(abs(x - y) for x, y in zip(row, last_row))

    # Check if this difference is smaller than the current minimum
    if diff < min_diff:
        min_diff = diff
        min_location = row_index

    # Print the absolute difference for the current row
    print(f"Absolute difference for row {row_index}: {diff}")

# Print the location of the row with the minimum difference
print(f"Minimum difference found at row {min_location} with values {array[min_location]}")

Absolute difference for row 0: 173
Absolute difference for row 1: 320
Absolute difference for row 2: 450
Absolute difference for row 3: 609
Absolute difference for row 4: 206
Absolute difference for row 5: 993
Absolute difference for row 6: 422
Absolute difference for row 7: 325
Minimum difference found at row 0 with values [80, 951, 75, 171]

In [ ]:
# Define the array of tuples
array = (
    (80, 951, 75, 171, "good"),
    (81, 1100, 68, 175, "good"),
    (70, 1240, 76, 168, "good"),
    (69, 1400, 72, 170, "good"),
    (70, 1000, 80, 160, "bad"),
    (65, 1800, 72, 150, "bad"),
    (80, 1220, 68, 140, "good"),
    (62, 1121, 71, 139, "bad"),
    (70, 820, 65, 149, "")
)

# Get the last row from the array
last_row = array[-1]

# Initialize variables to track the minimum difference and its location
min_diff = float('inf')  # Initialize with positive infinity
min_location = None

# Iterate through all other rows
for row_index, row in enumerate(array[:-1]):

    # Iterate through the elements in the row except the last element
    diff = sum(abs(x - y) for x, y in zip(row[:-1], last_row[:-1]))

    # Check if this difference is smaller than the current minimum
    if diff < min_diff:
        min_diff = diff
        min_location = row_index

# Print the location of the row with the minimum difference
print("Jacinta is likely to end up being ", array[min_location][4])
# print(f"Minimum difference found at row {min_location} with values {array[min_location]}")

Jacinta is likely to end up being  good